[Unit]
Description=GMCServer, service to store and analyze GMCServer data
Documentation=https://github.com/vinceh121/gmcserver
Wants=networking.target
After=networking.target

[Service]
Type=simple
ExecStart=java -jar /usr/bin/gmcserver
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
