.mat-drawer {
	padding: 5px;
}

.spacer {
	flex: 1 1 auto;
}

.content {
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 15%;
	margin-right: 15%;
}

@media (max-width:600px) {
	.content {
	margin: 16px;
	}
}